<div class="card m-3" style="width: 18rem;">
  <div class="card-body rounded">
      <h5 class="card-title"><%= cocktail.name %></h5>
      <% cocktail.doses.each do |dose| %>
        <div class="d-flex justify-content-between">
          <h6 class="card-subtitle mb-2 words">
            <%= dose.description %>
          </h6>
           <h6 class="card-subtitle mb-2 words">
            <%= dose.ingredient.name %>
          </h6>
        </div>
        <hr>
      <% end %>
      <p class="card-text"><%= cocktail.description %></p>
      <div class="d-flex justify-content-between">
        <%= link_to "Edit", edit_cocktail_path(cocktail), class:"btn btn-success" %>
        <%#= link_to "Delete", destroy_cocktail_path(cocktail), data: {:confirm => 'Are you sure?'}, :method => :delete %>
        <%#= content_tag "a", "Delete", class:"btn btn-danger", id:"sweet-alert-demo", method: delete, data: { cocktail_id: cocktail.id } %>
      </div>
  </div>
</div>
